<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go Tournament</title>
        <link rel="stylesheet" type="text/css" href="../assets/style.css">
    </head>

    <body>
        <%- include ('partials/header.ejs')%>
        <%- include ('partials/nav.ejs')%>

        <main>
            <div class="container">
                <h2>Matches</h2>
                <% for (let i = 0; i < kyuMatchData.length; i++) { %>
                    <div class="inner">
                        <header>
                            <a href="/match/<%= kyuMatchData[i]._id %>"><h3><%= kyuMatchData[i].title %></h3></a>
                        </header>
                        <p><strong>DATE: </strong> <%= kyuMatchData[i].date %></p>
                        <p><strong>LOCATION: </strong><%= kyuMatchData[i].location %></p>
                    </div>
                <% } %>
            </div>

            <div class="container">
                <h2>Dan Matches</h2>
                <% for (let i = 0; i < danMatchData.length; i++) { %>
                    <div class="inner">
                        <header>
                            <a href="/match/<%= danMatchData[i]._id %>"><h3><%= danMatchData[i].title %></h3></a>
                        </header>
                        <p><strong>DATE: </strong> <%= danMatchData[i].date %></p>
                        <p><strong>LOCATION: </strong><%= danMatchData[i].location %></p>
                    </div>
                <% } %>
            </div>

            <div id="indexAside" class="aside">
                <h2>Want to play?</h2>
                <p>Sign up here!</p>
            </div>
        </main>

        <%- include ('partials/footer.ejs')%>
    </body>
</html>