<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go Tournament</title>
        <link rel="stylesheet" type="text/css" href="../assets/style.css">
    </head>

    <body>
    <%- include ('partials/header.ejs')%>
    <%- include ('partials/nav.ejs')%>

    <main>
        <div class="container">
            <h2>Attending</h2>
            <% console.log("YES MATCH LENGTH: " + yesMatches.length); %>
            <% if (yesMatches.length !== 0) {%>
                <% for (let x = 0; x < yesMatches.length; x++) { %>
                    <div class="inner">
                        <header>
                            <h3><a href="/match/<%= yesMatches[x].id %>"><%= yesMatches[x].title %></a></h3>
                        </header>
                        <p>Location: <%= yesMatches[x].location %></p>
                        <p>Date: <%= yesMatches[x].date %></p>
                    </div>
                <% } %>
            <%} else {%>
                <div class="inner">
                    <header>
                        <h3>No Matches</h3>
                    </header>
                    <p>Find a Match and hit "Yes" to say you are coming!</p>
                </div>
            <%}%>
        </div>

        <div class="container">
            <h2>Might Be Attending</h2>
            <% if (maybeMatches.length !== 0) { %>
                <% for (let x = 0; x < maybeMatches.length; x++) { %>
                    <div class="inner">
                        <header>
                            <h3><a href="/match/<%= maybeMatches[x].id %>"><%= maybeMatches[x].title %></a></h3>
                        </header>
                        <p>Location: <%= maybeMatches[x].location %></p>
                        <p>Date: <%= maybeMatches[x].date %></p>
                    </div>
                <% } %>
            <%} else {%>
                <div class="inner">
                    <header>
                        <h3>No Matches</h3>
                    </header>
                    <p>Find a Match and hit "maybe" if you might come!</p>
                </div>
            <%}%>
        </div>
    </main>

    <div id="rankingAside" class="aside">
        <h2>Rankings: Explained</h2>
        <p>Rankings in Go start at a Kyu level for beginners, then progress into amateur Dan,
            and finally professional Dan.  <br><br>Kyu begins at 30 kyu (also denoted as 30k) for absolute beginners
            and goes up to 1 kyu (1k). Once a player reaches the rank of Dan, however,
            they begin at 1 amateur dan (1d), and progress to 7 dan (7d). If a player is fortunate enough to
            progress into the professional ranking, they begin as a 1 professional dan (1p) and the only very best
            can progress to a 9 dan (9p).<br><br>

            Beginner: 30k-20k<br>
            Casual Player: 19k-10k<br>
            Intermediate Amateur: 9k-1k<br>
            Advanced Amateur: 1d-7d<br>
            Professional Player: 1-9p<br>
        </p>
    </div>

    <%- include ('partials/footer.ejs')%>
    </body>
</html>