<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go Tournament</title>
        <link rel="stylesheet" type="text/css" href="../assets/style.css">
    </head>
    <body>
        <%- include ('partials/header.ejs')%>rs
        <%- include ('partials/nav.ejs')%>

        <main>
            <div class="container">
                <h2>Kyu Match</h2>
                <p>You have a match scheduled</p>
                <div class="inner">
                    <header>
                        <h3><%= data.title %></h3>
                    </header>
                    <p><strong>Rank:</strong>  <%= data.rank %> </p>
                    <p><strong>Date:</strong> <%= data.date %> </p>
                    <p><strong>Location:</strong> <%= data.location %> </p>
                </div>
            </div>

            <div class="container">
                <div class="inner">
                    <form action="/match/<%= data.id %>" method="POST" >
                        <h2>Will you be attenting?</h2><br>
                        <input type="radio" id="yes" name="rsvp" value="yes">
                        <label for="male">Yes</label><br>
                        <input type="radio" id="no" name="rsvp" value="no">
                        <label for="female">No</label><br>
                        <input type="radio" id="maybe" name="rsvp" value="maybe">
                        <label for="other">Maybe</label><br><br>
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>
        </main>

        <%- include ('partials/footer.ejs')%>
    </body>
</html>